<h1><%= @article.title %></h1>
<div class="icon">
<%= link_to "ðŸ–Œ", edit_article_path %>
<%= link_to "ðŸ—‘", article_path(@article), method: :delete, data: {:confirm =>"Are you sure?"}  %> </div>

<p> <%= @article.content %></p>

<%= link_to "â†", articles_path %>

